


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header" style="margin-left: 300px;">
      <a class="navbar-brand" href="#"><img src="http://i.imgur.com/p2IBRJQ.png?1" class="animated slideInLeft" style="margin-top: -10px; "></a>
    </div>
    <ul class="nav navbar-nav" style="margin-left: 300px;">
      <li class="two hvr-underline-reveal"><a class="navtext" routerLink="/givelyricshomepagecontainer">HOME</a></li>
      <li class="two hvr-underline-reveal"><a class="navtext" routerLink="/artistshomepage">ARTISTS</a></li>
      <li class="two hvr-underline-reveal"><a class="navtext" routerLink="/charitieshomepage">CHARITIES</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" style="margin-right: 80px;">
      <li><i class="fa fa-shopping-cart fa-lg" style="color: white; margin-top: 16px; margin-right: -8px;"></i></li>
      <li class="hvr-underline-reveal"><a class="navtext" onclick="openCartDash()">CART</a></li>
      <li class="hvr-underline-reveal"><a class="navtext" onclick="openArtistDash()">ARTIST</a></li>
    </ul>
    <form class="navbar-form navbar-right">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
    </form>
  </div>
</nav>






<div id="myCartDash" class="cartdash">
  <h2 class="cartHeader"> Cart </h2>
  <a href="javascript:void(0)" style="position: fixed; margin-top: 2.3%;" class="closebtn" onclick="closeCartDash()">&times;</a>
    <div class="container cartWrapper">
      <div class="row cartRow">
        <div id="cartItemOne" class="col-xs-6">
          <h5 style="text-align: center;"> Item Header Goes Here </h5>
            <hr>

        </div>
        <div id="cartItemOneDescription" class="col-xs-6">
          <h5 style="text-align: center;"> Info </h5>
            <hr>
              <p> Item Info Goes here</p>
        </div>
      </div>

      <div class="row cartRow">

      </div>
    </div>


    <h2 class="cartHeader" style="margin-top: 10%;"> Shipping Address </h2>
    <div class="container shipping">

    </div>

      <a href="" class="button">Click Me</a>

</div>

<!-- Use any element to open the sidenav -->


<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
  ...
</div>

<div id="myArtistDash" class="artistdash">
  <h1 style="margin-top: -40px;"> Artist Dashboard </h1>
  <a href="javascript:void(0)" style="position: fixed; margin-top: 2.3%;" class="closebtn">&times;</a>
  <div class="form-group">
    <label for="usr">Name:</label>
    <input type="text" class="form-control" id="usr">
    <label for="pwd">Artist Name?:</label>
    <input type="password" class="form-control" id="pwd">
    <label for="pwd">Address:</label>
    <input type="password" class="form-control" id="pwd">
    <label for="pwd">City:</label>
    <input type="password" class="form-control" id="pwd">
    <label for="pwd">MI:</label>
    <input type="password" class="form-control" id="pwd">
  </div>

</div>

<!-- Use any element to open the sidenav -->
