<artistnav></artistnav>
<hiphopmenu></hiphopmenu>

<div class="container wrapper">
<div class="container" style="width: 100%; ">
  <div class="row">

    <div class="col-md-9 artistWrapper">
      <h1 style="color: white;"> ANDERSON PAAK </h1>
    </div>

    <div class="col-md-3 artistInfo">
        <h2 class="artistInfoHeader"> Artist Info </h2>
        <p>Brandon Paak Anderson (born February 8, 1986), better known by his stage name Anderson Paak (stylized as Anderson .Paak), is an American singer, songwriter, rapper, drummer and record producer from Oxnard, California. He released his debut album, O.B.E. Vol. 1 in 2012, under the pseudonym Breezy Lovejoy. He went on to release Venice in 2014, under his current moniker.[3] Paak followed with Malibu, in 2016,[4] which received a nomination for Best Urban Contemporary Album at the Grammy Awards. Apart from his solo career, Paak is also one-half of NxWorries, alongside record producer Knxwledge.<br><br>

          Paak began producing music from his bedroom as a teenager, while attending Foothill Technology High School. His first experiences performing were as a drummer at his family's church where he met and married his first wife. After a few years, they divorced, and when Paak was teaching at a music school, he met his second wife, a music student from South Korea.[7] In 2011, prior to being a successful working musician, Paak was working at a marijuana farm in Santa Barbara. He was let go without warning, becoming homeless together with his wife and infant son.<br><br>

          In 2011, Paak had started earning acceptance in the Los Angeles music world as he worked on his debut album. Shafiq Husayn of Sa-Ra helped Paak recover financially from losing his job in Santa Barbara by employing him as an assistant, videographer, editor, writer and producer. He completed O.B.E. Vol.1 and released the album in mid-2012. He became the drummer for American Idol contestant Haley Reinhart.<br><br>


          Paak performing in July 2016
          On November 27, 2013, Paak produced and recorded Cover Art, an all-covers EP. Paak was inspired by the white artists of the 1950s who achieved commercial success by remaking songs written by black blues and R&B singers, while hardly ever compensating the original artists.[9] Cover Art reversed the process and transformed folk and rock classics from white musicians into a mold of soul, jazz, hip hop, and R&B. The album was released by the independent Hellfyre Club and OBE labels.<br><br> Paak was the lead producer for Watsky's 2014 album All You Can Do and is featured on three of its tracks.

          On October 28, 2014, Paak released Venice, his debut album as Anderson .Paak, on OBE and Steel Wool. Paak performed on six songs on Dr. Dre's 2015 album Compton and two on The Game's The Documentary 2. In October 2015, he announced that he had recorded material with ScHoolboy Q and 9th Wonder. Paak released his second album, Malibu, on January 15, 2016, to critical acclaim.<br><br>

          In January 2016, he indicated that he had been recording with Flying Lotus.[12] On January 30, 2016, Paak spoke with Scott Simon of NPR's Weekend Edition Saturday in an interview entitled: "Anderson .Paak: 'The Dot Stands For Detail' " about his tumultuous background as a child of mixed-race parents, the significance of "." (dot) Paak, his apprenticeship with Dr. Dre and how all of these influences shaped his music.[13] On January 30, Paak announced via Twitter he has signed to Dr. Dre's Aftermath Entertainment.<br><br>

          In 2016, Paak was named one of the XXL Freshman, along with Lil Dicky, Desiigner, Dave East, Denzel Curry, Lil Yachty, G Herbo, Lil Uzi Vert, 21 Savage, & Kodak Black. He said he always sends his ideas to Dr. Dre and the two work very fast.[15]
        </p>
    </div>

  </div>
</div>





<!-- MERCH GALLERY -->
  <div class="container" style="width: 100%; margin-top: 0px;">
    <div class="row" >
      <div class="col-md-9 merchGallery">

          <div class="row" style="margin: 0 auto;">
            <div class="col-md-3 itemWrapperOne">
              <h1> item one </h1>
            </div>

            <div class="col-md-3 itemWrapperTwo">
              <h1> item two </h1>
            </div>
            <div class="col-md-3 itemWrapperThree">
              <h1> item three </h1>
            </div>
          </div>

          <div id="itemOne">
            <button class="btn btn-success exit">Exit</button>

            <h1> item One </h1>
          </div>
          <div id="itemTwo">
            <button class="btn btn-success exit">Exit</button>

            <h1> item Two </h1>
          </div>
          <div id="itemThree">
            <button class="btn btn-success exit">Exit</button>

            <h1> item Three </h1>
          </div>

          <div class="row" style="margin: 0 auto;">
            <div class="col-md-3 itemWrapperFour">
              <h1> item four </h1>
            </div>

            <div class="col-md-3 itemWrapperFive">
              <h1> item five </h1>
            </div>
            <div class="col-md-3 itemWrapperSix">
              <h1> item six </h1>
            </div>
          </div>

          <div id="itemFour">
            <button class="btn btn-success exit">Exit</button>

            <h1> item Four </h1>
          </div>
          <div id="itemFive">
            <button class="btn btn-success exit">Exit</button>

            <h1> item Five </h1>
          </div>
          <div id="itemSix">
            <button class="btn btn-success exit">Exit</button>

            <h1> item Six </h1>
          </div>

<!-- ------------------------ -->





      </div>
      <div class="col-md-3 songListing" data-spy="affix" data-offset-top="600">
        <h2 class="songListingHeader"> Song Listing </h2>
          <ul>
            <li class="lovejoy song">LoveJoy</li>
              <div id="lovejoyLyrics" class="container" style="display: none; background-color: ; width: 90%; text-align: center;">
                <p>
                                    [Verse 1]<br><br>
                  Take a walk
                  Before it gets dark
                  Little angel
                  There's no need to worry
                  Shouldn't be too painful
                  At last, I see the roses
                  West bound on a cold train
                  I'm headed home for the closing<br><br>

                  [Verse 2]<br><br>
                  Take a walk
                  Before it gets dark
                  There's no need to worry
                  Shouldn't be too painful
                  At last, I see the roses
                  West bound on a cold train
                  I'm headed home for the closing<br><br>

                  [Outro]
                  Drifting towards the ocean
                  Some place where I can lay my head down
                  Are closing
                </p>
              </div>

              <li class="songTwo song">SongTwo</li>
                <div id="songTwoLyrics" class="container" style="display: none; background-color: ; height: auto; width: 90%; text-align: center;">
                  <p>
                                      [Verse 1]<br><br>
                    Spaghetti
                  </p>
                </div>
          </ul>
      </div>
    </div>
  </div>
</div>








<!-- Modal -->
<div id="genModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Merch Item One</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger">Add To Cart</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
