<artistnav></artistnav>
<rbmenu></rbmenu>
  <div class="container wrapper">

      <div class="container header">

      </div>

      <h1 style=""> Top Merchandise // R&B </h1>

      <div class="container" style="margin-bottom: 100px;">

        <div class="row">
          <div class="col-md-3 itemWrapper">

          </div>
          <div class="col-md-3 itemWrapper">

          </div>
          <div class="col-md-3 itemWrapper">

          </div>
          <div class="col-md-3 itemWrapper">

          </div>
        </div>

        <div class="row">
          <div class="col-md-3 itemWrapper">

          </div>
          <div class="col-md-3 itemWrapper">

          </div>
          <div class="col-md-3 itemWrapper">

          </div>
          <div class="col-md-3 itemWrapper">

          </div>
        </div>
      </div>
    <router-outlet></router-outlet>
  </div>
