.socialmedia{
  height: 300px;
  position: fixed;
  top: 200px;
  background-color: ;
  width: 90px;
  margin-left: -3px;
}
.fa{
    margin-top: 8px;
    margin-left: 12px;
}
.facebook {
  width: 60px;
  height: 40px;
  background-color: rgba(129,11,45,0.9);
  margin-left: -28px;
  text-align: center;
  color: white;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
.facebook.slideright:hover {
  -webkit-transform: translate(1em,0);
  -moz-transform: translate(1em,0);
  -o-transform: translate(1em,0);
  -ms-transform: translate(1em,0);
  transform: translate(1em,0);
}
.instagram {
  width: 60px;
  height: 40px;
  background-color: rgba(129,11,45,0.9);
  margin-left: -28px;
  text-align: center;
  color: white;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
.instagram.slideright:hover {
  -webkit-transform: translate(1em,0);
  -moz-transform: translate(1em,0);
  -o-transform: translate(1em,0);
  -ms-transform: translate(1em,0);
  transform: translate(1em,0);
}
.twitter {
  width: 60px;
  height: 40px;
  background-color: rgba(129,11,45,0.9);
  margin-left: -28px;
  text-align: center;
  color: white;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
  .twitter.slideright:hover {
    -webkit-transform: translate(1em,0);
    -moz-transform: translate(1em,0);
    -o-transform: translate(1em,0);
    -ms-transform: translate(1em,0);
    transform: translate(1em,0);
  }
