<artistnav></artistnav>
<rbmenu></rbmenu>
<div class="container wrapper">
<div class="container" style="width: 100%; margin-top: 0px; box-shadow: 2px 0 20px -6px black;">
  <div class="row">

    <div class="col-md-9 artistWrapper">
      <h1 style="color: white;"> DWELE </h1>
    </div>

    <div class="col-md-3 artistInfo">
        <h2> Artist Info </h2>
    </div>

  </div>
</div>


  <div class="container" style="width: 100%; margin-top: 0px;">
    <div class="row" >
      <div class="col-md-9 merchGallery">

          <div class="row" style="margin: 0 auto;">
            <div class="col-md-3 itemWrapper" data-toggle="modal" data-target="#genModal">

            </div>
            <div class="col-md-3 itemWrapper">

            </div>
            <div class="col-md-3 itemWrapper">

            </div>
          </div>

      </div>
      <div class="col-md-3 songListing" data-spy="affix" data-offset-top="550">
        <h2> Song Listing </h2>
      </div>
    </div>
  </div>
</div>








<!-- Modal -->
<div id="genModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Merch Item One</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger">Add To Cart</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
