<div class="container artistnav">
  <div class="row">
    <div class="col-md-2 col-xs-4 rock genre" routerLink="/rockdisplay">
      <h1>Rock</h1>
    </div>
    <div class="col-md-2 col-xs-4 hiphop genre" routerLink="/hiphopdisplay">
      <a>HIPHOP</a>
    </div>
    <div class="col-md-2 col-xs-4 rb genre" routerLink="/rbdisplay">
      <a>RB</a>
    </div>
    <div class="col-md-2 col-xs-4 edm genre" routerLink="/edmdisplay">
      <a >EDM</a>
    </div>
    <div class="col-md-2 col-xs-4 country genre" routerLink="/countrydisplay">
      <a>COUNTRY</a>
    </div>
  </div>
